@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  font-family: "Kalam", cursive;
}

body.dark {
  --first-color: #12161d;
  --second-color: #393e46;
  --third-color: #00adb5;
  --fourth-color: #eeeeee;
}

body.light{
  --first-color: #f6f5f5;
  --second-color: #e3e3e3;
  --third-color: #5cb5bf;
  --fourth-color: #277d86;
}

body {
  background-color: var(--second-color);
  color: var(--fourth-color);
}